// Environment Variable for JAVA RUNTIME
env.LC_ALL="en_US.utf8"

// default parameters
params {
  cpus     = 4
  memory   = "16GB"
  maxForks = 8
  time     = 240.h
  project  = "exomeseq"
  outdir   = "/data/public/${USER}/${params.project}"
  references {
    b37 {
      genome = "/data/rsc/b37/human_g1k_v37.fasta"
	    target {
        nexteraRapid = "/data/rsc/illumina/nextera_rapid_capture/nextera_rapidcapture.v.1.2.b37.intervals"
		    trueseqRapid = "/data/rsc/illumina/truseq_rapid_exome/TrueSeqRapidExomeTarget.v1.2.interval_list"
		    sureSelectV6 = "/data/rsc/agilent/SureSelectExomeV6Covered.S07604514.b37.interval_list"
	    }
	    bait {
	    	nexteraRapid = "/data/rsc/illumina/nextera_rapid_capture/nextera_rapidcapture_probes.v.1.2.b37.intervals"
		    trueseqRapid = "/data/rsc/illumina/truseq_rapid_exome/TrueSeqRapidExomeProbe.v1.2.b37.interval_list"
		    sureSelectV6 = "/data/rsc/agilent/SureSelectExomeV6Covered.S07604514.b37.interval_list"
	    }
	    dbsnp = "/data/rsc/b37/dbsnp_150.b37.vcf.gz"
      dbsnp_all = "/data/rsc/b37/dbsnp_150_all.b37.vcf.gz"
      mills = "/data/rsc/b37/Mills_and_1000G_gold_standard.indels.b37.vcf.gz"
      kgsnp = "/data/rsc/b37/1000G_phase1.snps.high_confidence.b37.vcf.gz"
      kgindel = "/data/rsc/b37/1000G_phase1.indels.b37.vcf.gz"
      omni = "/data/rsc/b37/1000G_omni2.5.b37.vcf.gz"
      hapmap = "/data/rsc/b37/hapmap_3.3.b37.vcf.gz"
      axiom = "/data/rsc/b37/Axiom_Exome_Plus.genotypes.all_populations.poly.vcf.gz"
      dbnsfp = "/data/rsc/dbnsfp/dbNSFP2.9.3.txt.gz"
      clinvar = "/data/rsc/clinvar/hg19/clinvar_20171029.vcf.gz"
      kg = "/data/rsc/1kg/ALL.wgs.phase3_shapeit2_mvncall_integrated_v5b.20130502.sites.vcf.gz"
      exac = "/data/rsc/exac/ExAC.r1.sites.vep.vcf.gz"
      snpEff = "GRCh37.75"
	    annotations = [
        "SIFT_pred", "LRT_pred", "MutationTaster_pred",
        "MutationAssessor_pred", "FATHMM_pred", "PROVEAN_pred",
        "MetaSVM_pred", "MetaLR_pred", "Polyphen2_HDIV_pred",
        "Polyphen2_HVAR_pred", "PROVEAN_pred"]
      lrg = "/data/rsc/LRG/LRG_ensembl.txt"
    }
    hg19 {
      genome = "/data/rsc/hg19/ucsc.hg19.fasta"
      target {
        nexteraRapid = "/data/rsc/illumina/nextera_rapid_capture/nextera_rapidcapture.v.1.2.hg19.intervals"
		    trueseqRapid = ""
		    sureSelectV6 = ""
	    }
	    bait {
	    	nexteraRapid = "/data/rsc/illumina/nextera_rapid_capture/nextera_rapidcapture_probes.v.1.2.hg19.intervals"
		    trueseqRapid = ""
		    sureSelectV6 = ""
	    }
      dbsnp = "/data/rsc/hg19/dbsnp_138.hg19.vcf.gz"
      dbsnp_all = "/data/rsc/hg19/dbsnp_138.hg19.vcf.gz"
      mills = "/data/rsc/hg19/Mills_and_1000G_gold_standard.indels.hg19.sites.vcf.gz"
      kgsnp = "/data/rsc/hg19/1000G_phase1.snps.high_confidence.hg19.sites.vcf.gz"
      kgindel = "/data/rsc/hg19/1000G_phase1.indels.hg19.sites.vcf.gz"
      omni = "/data/rsc/hg19/1000G_omni2.5.hg19.sites.vcf.gz"
      hapmap = "/data/rsc/hg19/hapmap_3.3.hg19.sites.vcf.gz"
      axiom = ""
      dbnsfp = "/data/rsc/dbnsfp/dbNSFP2.9.3.txt.gz"
      clinvar = "/data/rsc/clinvar/hg19/clinvar_20171029.vcf.gz"
      kg = "/data/rsc/1kg/ALL.wgs.phase3_shapeit2_mvncall_integrated_v5b.20130502.sites.vcf.gz"
      exac = "/data/rsc/exac/ExAC.r1.sites.vep.vcf.gz"
      annotations = [
        "SIFT_pred", "LRT_pred", "MutationTaster_pred",
        "MutationAssessor_pred", "FATHMM_pred", "PROVEAN_pred",
        "MetaSVM_pred", "MetaLR_pred", "Polyphen2_HDIV_pred",
        "Polyphen2_HVAR_pred", "PROVEAN_pred"]
      lrg = "/data/rsc/LRG/LRG_refseq.txt"
    }
  }
}

// Execution parameters
process {
    cpus = params.cpus
    time = params.time
    memory = params.memory
    scratch = "/tmp/"
}

profiles {
    standard {
        process.executor = 'local'
    }

    cluster {
        process.executor = 'pbs'
    }
}

// docker execution parameters
docker {
    enabled    = true
    temp       = 'auto'
    runOptions = "-v ${params.pwd}:${params.pwd}"
}
