// default parameters
params.cpus   = 4
params.memory = "10 GB"
params.outdir = "/data/public/${USER}/exomeseq"
params.time   = 240.h

// pipeline process
timeline {
    file = "${params.outdir}/nf-timeline.html"
}

trace {
    file = "${params.outdir}/nf-trace.html"
}

// Execution parameters
process {
    cpus = params.cpus
    time = params.time
    memory = params.memory
    scratch = "/tmp/"
}

profiles {
    standard {
        process.executor = 'local'
    }

    cluster {
        process.executor = 'pbs'
    }
}

// docker execution parameters
docker {
    enabled    = true
    temp       = 'auto'
    runOptions = "-v ${params.pwd}:${params.pwd}"
}
